@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
    margin: 0 auto;
    font-family: 'Macondo', cursive;
}

body {
    background-image: url("images/background.gif");
}

h1 {
    margin-top: 50px;
    margin-left: 10px;
    text-shadow: 2px 2px 5px darkmagenta;
}

h2 {
    font-size: 15pt;
    text-shadow: 2px 2px 5px darkmagenta;
}

h3 {
    font-size: 15pt;
    padding-top: 20px;
    margin-left: 5px;
}

h4 {
    font-size: 12pt;
    margin-left: 5px;
}

.navbar {
    margin: 0 auto;
    background-color: rebeccapurple;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

#profile {
    margin: 0 auto;
}

.nav-title {
    color: aliceblue;
    text-shadow: 2px 2px 5px pink;
}


.nav-links {
    display: flex;
    list-style-type: none;
}

.navright a{
    color: aliceblue;
    font-size: 15pt;
    text-decoration: none;
    font-weight: 700;
}

.btn {
    background-color: rgb(172, 108, 236);
    font-size: 15pt;
    box-shadow: 5px 5px 5px black;
}

button:hover {
    cursor: pointer;
}

.nav-links li {
    padding-left: 8px;
    opacity: 0.60;
}

.nav-links li:hover {
    opacity: 1;
    cursor: pointer;
}

.center{
    width: 1000px;

    display: flex;
}

.pgleft {
    flex: 3;
}


/* container class for usercard */
/* ========================================================================== */

.usercard {
    width: 620px;
    height: 340px;
    border-style: outset;
    border-color: rgb(243, 152, 199);
    background-image: linear-gradient(white, #AB46D2);
    border-width: 4px;
    margin: 20px;
    padding-bottom: 8px;
}

/* info for top of the usercard */

.topinfo {
    background: rebeccapurple;
    border-style: solid;
    border-color: rgb(243, 152, 199);
    border-width: 4px;
    height: 80px;
}

.topinfo img {
    height: 100%;
    display: flex;
}

.profpic {
    width: 110px;
    height: 110px;
    background-color: rebeccapurple;
    border-radius: 50%;
    position: fixed;
    margin: 19px;
}

.profpic img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
}

.usercard h1 {
    margin-top: 50px;
    margin-left: 10px;
}

.usercard h2 {
    font-size: 15pt;
}

.usercard h3 {
    font-size: 15pt;
    padding-top: 20px;
    margin-left: 5px;
}

.usercard h4 {
    font-size: 12pt;
    margin-left: 5px;
}

/* classes below the top bar of container */
/* ========================================================================== */

.location {
    width: 230px;
    height: 20px;
    margin: 0;
    padding-right: 5px;
    display: flex;
}

.location img {
    width: 20px;
    padding-left: 3px;
}

.firstline {
    margin-top: 10px;
}

.lastline {
    padding-bottom: 30px;
}

.editprof {
    margin: 0;
    width: 120px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.editprof img {
    width: 30px;
}

#styling {
    background-image: linear-gradient(#AB46D2, white);
    border-style: outset;
    border-color: rgb(243, 152, 199);
    border-width: 4px;
    margin: 20px;
}

.ed {
    font-size: 17pt;
    padding: 5px;
    text-shadow: 2px 2px 5px darkmagenta;
}

.date {
    padding-left: 5px;
    font-weight: 600;
    opacity: 0.8;
}

.education li{
    font-weight: 580;
}

.education {
    padding-bottom: 10px;
}

.edbar {
    padding: 10px;
    background-color: rebeccapurple;
    border-style: solid;
    border-color: rgb(243, 152, 199);
    border-width: 4px;
}

/* Right column info */
/* ======================================== */

.pgright {
    flex: 2;
}

/* Friend requests/friends */
.friendreq {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(#AB46D2, white);
    border-style: outset;
    border-color: rgb(243, 152, 199);
    border-width: 4px;
    margin: 20px;
}

.topbg {
    background-image: linear-gradient(white, #AB46D2 );
    border-style: outset;
    border-color: rgb(243, 152, 199);
    border-width: 4px;
}

.req {
    border-style: solid;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    margin: 0;
}

.friend {
    margin: 0;
    border-radius: 50%;
    padding: 3px;
    border-style: solid;
    text-align: center;
    font-weight: 600;

}

.reqtop {
    margin: 0;
    padding: 8px;
    background-color: rebeccapurple;
    border-style: solid;
    border-color: rgb(243, 152, 199);
    display: flex;
}

.reqtop h2 {
    margin: 0;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}

.request {
    display: flex;
    align-items: center;
}

.request h3 {
    flex: 2;
}

.icons {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.pic{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: #AB46D2;
    flex: 2;
}

.transparent{
    opacity: 0;
}

.accept {
    width: 15px;
    height: 15px;
}

.email {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    flex: 1;
}

#view {
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: rgb(154, 95, 212);
}
